<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Js-Test</title>

</head>

<body>
    <div>
        <h1 id="txt">Counter = 0</h1>
    </div>
    <button id="btuClick">Click</button>

    <!--Internal JS  -->
    <!-- <script >
        // document.write('<h1>HoooTT<h/>');
            // console.log('Log');
            // console.error('wrong inputs');
    </script> -->

    <!-- ExternalJS -->
    <script src="/public/js/w4/js-intro.js"></script>

</body>

</html>