<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="/public/css/bootstrap-css/bootstrap.min.css">
    <script src="/public/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- Notiflix -->
    <script src="/public/js/w9/notiflix-aio-3.2.6.min.js"></script>
    <!-- <script src="/public/js/sweetalert2.all.min.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
    <title>Welcome</title>
</head>

<body class="p-3">
    <h1 id="welcome">Welcome</h1>
    <div class="d-flex justify-content-end">
        <a class="btn btn-danger" href="/logout">Logout</a>
    </div>

    <div class="d-flex justify-content-end">
        <button class="btn btn-success" onclick="addProduct()">Add</button>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Image</th>
                <th>Name</th>
                <th>Price</th>
                <th>Amount</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody id="tblProduct">
        </tbody>
    </table>

    <!-- Add/Edit Modal -->
    <div class="modal" id="productModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Add/Edit product</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                    <form id="formProduct">
                        <label class="form-label">Name</label>

                        <input type="text" name="pname" class="form-control mb-2" placeholder="name">

                        <label class="form-label">Price</label>
                        <input type="number" name="price" class="form-control mb-2" placeholder="price">

                        <label class="form-label">Amount</label>
                        <input type="number" name="amount" class="form-control mb-3" placeholder="amount">

                        <button type="submit" class="btn btn-success">OK</button>

                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>

                    </form>
                </div>
            </div>
        </div>
    </div>

    <script>
        // add or edit methods
        var action = 'add';
        var editID = 0;
        getProducts();
        getUser();
        const productModal = new bootstrap.Modal(document.querySelector('#productModal'));

        const tblProduct = document.querySelector('#tblProduct');
        // get all products


        //---------------GET USER-----------------
        async function getUser() {
            try {
                const response = await fetch('/user');
                if (response.ok) {
                    const data = await response.json();
                    const welcome = document.querySelector('#welcome');
                    welcome.innerHTML = 'Welcome' + data.username;
                }

            } catch (err) {
                console.error(err.message);
                Notiflix.Report.failure('Error', err.message, 'Close');
            }
        }

        //---------------GET PRODUCTS-----------------
        async function getProducts() {
            try {
                const response = await fetch('/products');
                if (response.ok) {
                    const data = await response.json();
                    let rows = '';
                    data.forEach(function (product) {
                        rows += `<tr><td>${product.id}</td>`;
                        rows += `<td><img src="/public/img/w7_icon/${product.image}"></td>`;
                        rows += `<td>${product.name}</td>`;
                        rows += `<td>${product.price}</td>`;
                        rows += `<td>${product.amount}</td>`;
                        rows += `<td><button class="btn btn-warning" onclick=editProduct(${JSON.stringify(product)})>Edit</button>`;
                        rows += `<button class="btn btn-danger" onclick="deleteConfirm(${product.id}, '${product.name}')">Delete</button></td></tr>`;
                    });
                    tblProduct.innerHTML = rows;
                }
                else if (response.status == 500) {
                    const data = response.text();
                    throw Error(data);
                }
            } catch (err) {
                console.error(err.message);
                Notiflix.Report.failure('Error', err.message, 'Close');
            }
        }

        //---------------DELETE a product -----------------
        function deleteConfirm(id, name) {
            // warning
            Notiflix.Confirm.show('Warning', `Sure to delete ${name}?`, 'Yes', 'No',
                function okCb() {
                    deleteProduct(id);
                }
            );
        }

        async function deleteProduct(id) {
            // console.log(id);
            // const options = {
            //     method: 'DELETE'
            // }
            try {
                const response = await fetch(`/products/${id}` ,{ method: 'DELETE' });
                if (response.ok) {
                    const data = await response.text();
                    Notiflix.Report.success('Success', data, 'Close');
                    // get updated data
                    getProducts();
                }
                else if (response.status == 500) {
                    const data = response.text();
                    throw Error(data);
                }
            } catch (err) {
                console.error(err.message);
                Notiflix.Report.failure('Error', err.message+ "Erorr", 'Close');
            }
        }

        //---------------DELETE a product 2-----------------

        function deleteProduct2(id) {
            Swal.fire({
                icon: 'warning',
                title: 'Warning',
                text: "Sure to delete this product?",
                showCancelButton: true,
                confirmButtonText: 'Yes'
            }).then(function (result) {
                if (result.isConfirmed) {
                    fetch(`/products/${id}`, { method: 'DELETE' })
                        .then(function (response) {
                            if (response.ok) {
                                // get updated data
                                getProducts();
                            }
                        })
                        .catch(function (err) {
                            console.error(err);
                            alert(err);
                        });
                }
            });
        }


        //---------------ADD NEW PRODUCT-----------------
        const formProduct = document.querySelector('#formProduct');
        function addProduct() {
            action = 'add';
            formProduct.reset();
            document.querySelector('h4.modal-title').innerText = 'Add newproduct';
            productModal.show();
        }

        // add or edit
        formProduct.onsubmit = function (e) {
            e.preventDefault();
            productModal.hide();
            const pname = formProduct.elements['pname'].value;
            const price = formProduct.elements['price'].value;
            const amount = formProduct.elements['amount'].value;
            // add or update data
            // default is 'add'


            let url = '/products';
            let httpMethod = 'POST';
            let bodyContent = JSON.stringify(
                { "name": pname, "price": price, "amount": amount });
            if (action == 'edit') {
                url = `/products/${editID}`;
                httpMethod = 'PUT';
                bodyContent = JSON.stringify(
                    { "name": pname, "price": price, "amount": amount });
            }

            fetch(url, {
                method: httpMethod,
                headers: { "Content-Type": "application/json" },
                body: bodyContent
            }).then(function (response) {
                if (response.ok) {
                    formProduct.reset();
                    Swal.fire({
                        icon: 'success',
                        title: 'Success',
                        text: 'Add/Edit product successfully'
                    })
                        .then(function (result) {
                            // get updated data
                            getProducts();
                        });
                }
                else {
                    throw Error('Bad response');
                }
            }).catch(function (err) {
                console.error(err);
                alert(err);
            });
        }

        //---------------EDIT PRODUCT-----------------
        function editProduct(product) {
            action = 'edit';
            editID = product.id;
            // console.log(product.name);
            document.querySelector('h4.modal-title').innerText = 'Edit product';

            document.querySelector('input[name="pname"]').value = product.name;

            document.querySelector('input[name="price"]').value = product.price;

            document.querySelector('input[name="amount"]').value = product.amount;
            // show modal
            productModal.show();
        }
    </script>
</body>

</html>