<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bootstrap</title>

    <!-- link css bootstrap Command ' link:css ' -->
    <link rel="stylesheet" href="/public/css/bootstrap-css/bootstrap.min.css"> 

    <!-- link js cnd Command ' script:src ' -->
    <script src="/public/js/bootstrap.min.js"></script>

</head>
<body>
    <!-- class="table in Bs คือการจัด table -->
    <!-- <table class="table table-hover table-"> -->
        
        <!-- class="table-dark in Bs คือการเปลี่ยน theme table -->
        <!-- <thead class="table-dark">
            <tr><th>ID</th><th>Name</th><th>Age</th></tr>
        </thead>
        <tbody>
            <tr><td>1</td><td>Roy</td><td>17</td></tr>
            <tr><td>2</td><td>Bocchi</td><td>19</td></tr>
            <tr><td>3</td><td>Nijika</td><td>18</td></tr>
            <tr><td>3</td><td>Ikuyo</td><td>16</td></tr>
        </tbody>
        
    </table> -->
<!-- ------------------------------------------------------------------------ -->
    <img src="/public/img/bg/Bocchi.gif" width="500px" alt="avatar" class="rounded">
    
    <img src="/public/img/bg/Bocchi.gif" width="500px" alt="avatar" class="rounded-circle">
    
    
</body>
</html>