<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>layout</title>

    <!-- link css bootstrap Command ' link:css ' -->
    <link rel="stylesheet" href="/public/css/bootstrap-css/bootstrap.min.css">

    <!-- link js cnd Command ' script:src ' -->
    <script src="/public/js/bootstrap.bundle.min.js"></script>

</head>
<body>
    <!-- ต้องใส่ Row ก่อนใส่ column -->
    <div class="row">
        <!-- column ใน bootstrap มีได้12 column -->
        <!-- bg-color ใส่สีในcolumnและต้องมี class -->
        <!-- col-n คือการแบ่งสัดส่วน -->

         <!-- .col-sm- (small devices - screen width equal to or greater than 576px)
         .col-md- (medium devices - screen width equal to or greater than 768px)
         .col-lg- (large devices - screen width equal to or greater than 992px)
         .col-xl- (xlarge devices - screen width equal to or greater than 1200px) 
         .col-auto คือ auto -->

        <div class="col-sm-4 col-xl-3 bg-primary">1</div>
        <div class="col-sm-4 col-xl-6 bg-danger">2</div>
        <div class="col-sm-4 col-xl-3 bg-success">3</div>
    </div>
    

    </div>
</body>
</html>