.nav{
    background-color: black;
    color: white;
    padding: 10px 6px;
    
}

body{ 
    /* ทำไห้bar มันติดบนสุด */
    margin: 0;
}

.nav a{ /* เปลี่ยนสี a ใน class nav */
    
    color: white;
    text-decoration: none; /* เส้นใต้text */
}

.nav a:hover{
    color: orange;
    background-color: black;
}

.content{
    padding: 0 1rem ;
}

.footer{
    margin: 16px;
    text-align: center;
    background-color: orange;
    padding: 1px 0;
   
}