<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/public/img/bocchiicon.jpg" type="image/x-icon"> <! --  icon ตรง bar -->
    <title>Banana</title>
</head>
<body>
    <! --  ------------------------------------------------------------------------------------------------------------------------- -->
    <h1>Bocchi</h1>
    
    <! --  ------------------------------------------------------------------------------------------------------------------------- -->
    <h2>The Rock</h2>

    <! --  ------------------------------------------------------------------------------------------------------------------------- -->
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae cupiditate dignissimos dolore 
        eius esse commodi vel iure voluptatum odio id. Aut nostrum similique reiciendis tenetur aperiam corporis 
        quidem rem voluptatem.</p> 

        <! --  ------------------------------------------------------------------------------------------------------------------------- -->
        aaa 
        <br> <! --  คือว่างข้ามบรรทัด -->
        bbb 

        <! --  ------------------------------------------------------------------------------------------------------------------------- -->
        <div><! --  คือว่างข้ามบรรทัดแบบกลู่ม -->

            <! --  ------------------------------------------------------------------------------------------------------------------------- -->
            <! --  [ .. ] คือออกจาก view ไป โฟเดอร์อื่น -->
            <a href="table.html">
                <img src="/public/img/Bocchi.gif" alt="Bocchi" width="450px" height="450px">
            </a>
           <! --  ------------------------------------------------------------------------------------------------------------------------- -->  

        </div> <br>
    
        <! --  ------------------------------------------------------------------------------------------------------------------------- -->
        <a href="table.html">Next</a>
        
</body>
</html>