<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/public/img/bocchiicon.jpg" type="image/x-icon">
    <title>Table</title>
</head>
<body>
    <table>
        <tr><! --  tr คือTableroll และขึ้นบรรทัดใหม่ -->
            <th>ID</th><th>Name</th>
        </tr>
        <tr><td>1</td><td>Bocchi</td></tr>
        <tr><td>2</td><td>Nijika</td></tr>
    </table>
    <! --  ------------------------------------------------------------------------------------------------------------------------- -->
    Username <input type="text" placeholder="Username"> <br>
    Password <input type="password"><br>

   <! --  ------------------------------------------------------------------------------------------------------------------------- -->
    <select>
        <option value="Female">Female</option>
        <option value="Male">Male</option>
    </select> <br>
    
    <! --  ------------------------------------------------------------------------------------------------------------------------- -->
    Favorite Food <br>
    <input type="checkbox" >Banana
    <input type="checkbox" >Noodle
    <input type="checkbox" >Bocchi

    <! --  ------------------------------------------------------------------------------------------------------------------------- -->
    Age <br>
    <input type="radio" name="age" id="">10-20
    <input type="radio" name="age" id="">21-30
    <br>

    <! --  ------------------------------------------------------------------------------------------------------------------------- -->
    <input type="button" value="OK">
    <button type="button"> cancel </button><br>

    <! --  ------------------------------------------------------------------------------------------------------------------------- -->

    <! --  [ a ] คือกดข้ามหน้า -->
    <a href="index.html">
        <img src="/public/img/Bocchirock.png" alt="Bocchi" width="450px" height="450px">
    </a><br>

    <! --  ------------------------------------------------------------------------------------------------------------------------- -->
    <a href="index.html">Back</a>

</body>
</html>