<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/public/img/bocchiicon.jpg" type="image/x-icon">
    <link rel="stylesheet" href="/public/css/w2/css-from.css">
    <title>From</title>
</head>
<body>
    <form >
        <label for="fName">firstName</label> <!-- lable คือ ช่วยไห้แตะตรงชื่อแล้วขึ้นในที่กรอกได้ -->
        <input type="text" id="fName" name="firstName" placeholder="Your Name">

        <label for="lName">lastName</label> 
        <input type="text" id="lName" name="lastName" placeholder="Your lastName">

        <label for="major">Major</label>
        <select name="" id="major">
            <option value="ce">CE</option>
            <option value="se">SE</option>
            <option value="cs">CS</option>
        </select>
        <button type="submit">Submit</button>

    </form>
</body>
</html>