<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/public/img/bocchiicon.jpg" type="image/x-icon">

    <!-- link to css -->
    <link rel="stylesheet" href="/public/css/w2/css1.css">

    <title>Document</title>

     <!-- <h1>Style = </h1> -->

     <!-- <style>
         h1{color: aqua;}
     </style> -->

</head>
<body>
    <!-- inline css : not recommended -->
    <!-- <h1 style = color : red>Hello </h1> -->

    <!-- id คือ เอาไว้กำกลับแต่งละอันที่อยู่ใน h เดียวกัน -->
    <!-- class คือ การแชร์ id ร่วมกัน -->
    <h1 class="text-red" >Hello world</h1>
    
    <h1 id="text2">Bocchi</h1>

    <h1 class="text-red">Welcome</h1>
    
     <!-- span คือ การแยกใช้ เช่น การแยกใช้สีในบรรทัดเดียวกัน -->
    <p>Bocchi  <span class="text-red">the car</span></p>

</body>
</html>