<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/w2/layout-top-buttom.css">
    <title>Layout</title>
</head>
<body>
<!-- row -->
    <div class="row">
        <!-- navigation bar -->
     <div class="nav">
        <a href="#">Link1</a>
        <a href="#">Link2</a>
     </div>

     <!-- boby -->
     <div class="content">
        <h1>Lorem ipsum dolor sit amet.</h1>

        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
            Magni voluptates molestias possimus soluta consequuntur autem illum debitis. 
            A consequuntur alias pariatur recusandae corrupti aperiam tempora nemo necessitatibus deserunt, 
            quod voluptates!
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, vel nesciunt. 
            Rerum officia pariatur possimus quo, inventore voluptatibus molestias quod nisi provident molestiae ad dolor, l
            audantium non illo? Dicta, quae?</p>
        <p>
            Lorem, ipsum Lorem ipsum dolor sit amet consectetur.
        </p>
     </div>
    </div>
    <!-- footer -->
    <div class="footer">
        <p>Copyright 2023</p>
    </div>
</body>
</html>