<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>welcome</title>
    <link rel="stylesheet" href="/public/css/bootstrap-css/bootstrap.min.css">
    <script src="/public/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body class="mx-5 my-5">
    <h1></h1>
    <button class="btn btn-danger">Sign out</button>

    <script>
        let username = localStorage.username;
        if (username === undefined) {
            username = sessionStorage.username;
            if (username === undefined) {
                window.location.replace('login_JSON.html');
            }
        }
        document.querySelector('h1').innerHTML = 'welcome ' + username;

        document.querySelector('button').onclick = () => {
            localStorage.removeItem('username');
           sessionStorage.removeItem('username');
            window.location.replace('login_JSON.html');
        }


    </script>
</body>

</html>